body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10%;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: #a4c639;
    font-size: 2.5em;
    margin: 0;
    margin-top: 20px;
}

main {
    background-color: #252526;
    padding: 20px;
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #a4c639;
    border-top: 2px solid #a4c639;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 100px;
}

label {
    display: block;
    margin-top: 10px;
    color: #d4d4d4;
}

input[type="password"],
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #3c3c3c;
    background-color: #1e1e1e;
    color: #d4d4d4;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #a4c639;
    color: #1e1e1e;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #8bb22b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #252526;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#searchHash {
    text-align: center;
}

#text {
    text-align: center;
}

nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #a4c639;
    text-decoration: none;
    font-size: 1.2em;
    border: 1px solid #a4c639;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #a4c639;
    color: #1e1e1e;
}